#phone_number_group {
	margin-top: 1em;
}
#edit_phone_number_group {
	margin: 0px !important;
}
#edit_phone_number_group .input-group {
	margin: 0px !important;
	width: 100%;
}
@media (min-width: 600px) {
	#verify_phone_number_group {
	    text-align: right;
	}
	#verify_phone_number_group .verify_button {
		margin: 0px !important;
	}
	#verified_phone_number_group {
		text-align: right;
		margin: 0px !important;
		padding-top: 6px;
		font-weight: bold;
	}
}
@media (max-width: 600px) {
	#verify_phone_number_group {
	    text-align: left;
	}
	#verify_phone_number_group .verify_button {
		margin-top: 1em;
	}
	#verified_phone_number_group {
		text-align: left;
		margin-top: 1em;
	}
}
#enter_verification_code input {
    max-width: 125px;
    margin: 15px 0px 15px 0px;
}