<div class="modal-content">

  <div class="modal-body">

    <form timeframe begin="booking.beginRequested" end="booking.endRequested">
      <div layout="column">

        <div flex>
          <label>{{'DATE_START' | translate}}</label>
          <button id="timepopup_now_button" type="button" style="margin-left: 1em" class="btn btn-warning btn-xs" ng-click="setTimeframe(0)">{{ 'NOW' | translate }}</button>
        </div>

        <div style="margin: 18px 0;" class="no-margin-input-container" flex layout>
          <div flex ng-class="{'no-button': small}">
            <input type="text" placeholder="{{ 'DATE_START' | translate }}" class="form-control pickadate-input" ng-model="booking.beginRequested" ng-change="onBeginDateChange()" pickadate="dateConfig">
          </div>
          <div flex>
            <input type="text" placeholder="{{ 'TIME_START' | translate }}" class="form-control pickadate-input" ng-model="booking.beginRequested" pickatime="timeConfig">
          </div>
        </div>

        <div flex>
          <label>{{ 'DATE_END' | translate }}</label>
        </div>

        <div style="margin: 18px 0;" class="no-margin-input-container" flex layout>
          <div flex ng-class="{'no-button': small}">
            <input type="text" placeholder="{{ 'DATE_END' | translate }}" class="form-control pickadate-input" ng-model="booking.endRequested" ng-change="onEndDateChange()" pickadate="dateConfig">
          </div>
          <div flex>
            <input type="text" placeholder="{{ 'TIME_END' | translate }}" class="form-control pickadate-input" ng-model="booking.endRequested" pickatime="timeConfig">
          </div>
        </div>

      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>
