<div class="card">
  <div class="card-heading">
    <h2 class="card-title">
      {{ 'MY_TRIPS' | translate }}
    </h2>
  </div>

  <div class="card-body">

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <select class="form-control" ng-options="year for year in years" ng-model="selectedYear"></select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="!ownerBookings.length && !renterBookings.length">
      <div class="col-xs-12">
        <h3 ng-if="showLoaderSpinner" class="no-margin"><i class="fa fa-spinner fa-spin fa-fw text-primary"></i></h3>
        <span ng-if="!showLoaderSpinner">{{ 'NO_TRIPS' | translate }}</span>
      </div>
    </div>
  </div>

</div>

<div class="card" ng-if="renterBookings.length">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="showRenterBookings = !showRenterBookings">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !showRenterBookings, 'fa-chevron-down': showRenterBookings }"></i>
        {{ 'TRIPS_BOOKINGS_FOR_RENTER' | translate }}
      </a>
    </h3>
  </div>

  <div uib-collapse="!showRenterBookings">
    <div class="card-body">

      <table class="table">
        <thead>
          <tr>
            <th>{{ 'DATE' | translate }}</th>
            <th>{{ 'RESOURCE' | translate }}</th>
            <th>{{ 'OWNER' | translate }}</th>
            <th>{{ 'DISTANCE' | translate }}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="booking in renterBookings | orderBy : 'beginBooking' : true">
            <td>{{ booking.beginBooking | amDateFormat:'DD-MM-YYYY' }}</td>
            <td>{{ booking.resource.alias}}</td>
            <td>{{ booking.resource.owner | fullname }}</td>
            <td>{{ booking.trip.odoEnd - booking.trip.odoBegin }}</td>
            <td><span booking-approval-icon="booking"></span></td>
            <td class="text-right"><a ui-sref="owm.booking.show({bookingId: booking.id})">Details</a> <a ng-if="provider === 50" target="_blank" ng-href="{{ createTripDetailsLink(booking) }}"><i class="fa fa-fw fa-external-link-square"></i>PDF</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="card" ng-if="ownerBookings.length">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="showOwnerBookings = !showOwnerBookings">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !showOwnerBookings, 'fa-chevron-down': showOwnerBookings }">
        </i>
        {{ 'TRIPS_BOOKINGS_FOR_OWNER' | translate }}
      </a>
    </h3>
  </div>

  <div uib-collapse="!showOwnerBookings">
    <div class="card-body">

      <button class="btn" ng-click="prevPage()" ng-disabled="curPage == 1"> &lt; </button>
      <p class="btn">{{curPage}}</p>
      <button class="btn" ng-click="nextPage()" ng-disabled="curPage >= lastPage"> &gt; </button>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>{{ 'DATE' | translate }}</th>
            <th>{{ 'STATUS' | translate }}</th>
            <th>{{ 'RESOURCE' | translate }}</th>
            <th>{{ 'RENTER' | translate }}</th>
            <th>{{ 'DISTANCE' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-class="{danger: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, warning: booking.status === 'rejected'}" 
            ng-repeat="booking in ownerBookings | orderBy:['booking.beginBooking','booking.beginRequested']"
          >
            <td>{{ booking.id }}</td>
            <td>{{ (booking.beginBooking | amDateFormat:'DD-MM-YYYY') || (booking.beginRequested | amDateFormat:'DD-MM-YYYY') }}</td>
            <td>{{ booking.status | bookingStatus }}</td>
            <td>{{ booking.resource.alias }}</td>
            <td><a ui-sref="member({ personId: booking.person.id })">{{ booking.person | fullname }}</a></td>
            <td class="text-right">
              <span ng-if="['cancelled', 'owner_cancelled', 'rejected'].indexOf(booking.status) < 0">
                {{ booking.trip.odoEnd - booking.trip.odoBegin }}
              </span>
            </td>
            <td class="text-right">
              <a ui-sref="owm.booking.show({bookingId: booking.id})">Details</a>
              <a ng-if="provider === 50" target="_blank" ng-href="{{ createTripDetailsLink(booking) }}"><i class="fa fa-fw fa-external-link-square"></i>PDF</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

