<div ng-controller="ResourceEditPicturesController">

  <p ng-if="!ownerflow">{{ 'RESOURCE_PICTURES_INTRO' | translate }}</p>

  <form ng-show="photos.length < 11">
    <div class="form-group">
      <label>{{ 'RESOURCE_PICTURES_UPLOAD' | translate }}</label>
      <file-input on-change="addPicture"></file-input>
    </div>
    <hr/>
  </form>

  <div class="photo-grid clearfix" as-sortable="sortableOptions" ng-model="photos" style="position:relative">

    <div class="photo-container" ng-repeat="photo in photos" as-sortable-item>
      <button class="btn btn-link remove-photo" ng-click="removePicture(photo, $index)"><md-icon style="color:#fff;">close</md-icon></button>
      <div as-sortable-item-handle class="photo">
        <img class="image" ng-src="{{ photo.url }}" />
      </div>
    </div>

    <!-- adding picture is in progress -->
    <div class="photo-container" as-sortable-item ng-if="isBusy && !isRemoving && !isSaving">
      <div class="photo">
        <div style="width: 100%; height: 100%; position: absolute;">
          <div style="position: absolute; background: white; opacity: 0.25; width: 100%; height: 100%"></div>
          <i class="fa fa-spinner fa-spin fa-2x" style="margin:15px"></i>
        </div>
      </div>
    </div>
  </div>

</div>
