<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Kortingscode toevoegen</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <form name="form">
            <div layout="row">
                <md-input-container flex>
                    <label class="disable-ng-animate">Kortingscode</label>
                    <md-icon>card_giftcard</md-icon>
                    <input type="text" name="discountCode" ng-model="discountCode" />
                    <div ng-messages="form.discountCode.$error">
                        <div ng-message="wrongdiscountCode">Voer een geldig kortingscode in</div>
                    </div>
                </md-input-container>
            </div>
        </form>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="cancel()">Annuleren</md-button>
        <md-button class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="save()">Toevoegen</md-button>
    </md-dialog-actions>

</md-dialog>
