.cookiebar {
    text-align: center;
    z-index: 1000;
    background: none;
    width: 100%;
}
.cookiebar--content {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    background-color: #5d5a5a;
    line-height: 2rem;
    .md-button {
        line-height: 1;
        padding-bottom: 0;
        margin-bottom: 0;
        min-height: 25px;
        font-size: 12px;
    }
}