<md-dialog flex-gt-md="30" flex-md="40" flex="60">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Wanted: you?</h2>
				<span flex></span>
				<md-button ga-track-event="['interaction', 'programmer_ad', 'close', null, true]" class="md-icon-button" ng-click="close()">
					<md-icon>close</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
      <div class="md-dialog-content">
        <h1>
          Wij zijn op zoek naar:
        </h1>
        <p>
        Een PHP-developer. Ben of ken jij die persoon?  
        </p>
        <md-button ga-track-event="['interaction', 'programmer_ad', 'follow_link', null, true]" target="_blank" ng-click="close()" class="md-raised" href="https://mywheels.nl/autodelen/community/meehelpen/" >Klik dan hier</md-button>
      </div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ga-track-event="['interaction', 'programmer_ad', 'close', null, true]" ng-click="close()">
				Sluiten
			</md-button>
		</md-dialog-actions>
</md-dialog>
