<div ng-if="resource.removed === false" class="container" ng-class="{ 'container-transitional': features.resourceSidebar }">
    <div>
        <div ng-class="{ 'col-md-8 col-xs-12' : features.resourceSidebar }" class="no-padding">
            <!-- edit -->
            <div class="card card-navigation clearfix">

                <div ng-if="me" class="text-warning pull-right" style="padding-top: 3px;">
                    <div ng-if="!isFavoriteResolved">
                        <i class="fa fa-heart-o fa-spin fa-2x text-muted"></i>
                    </div>
                    <div ng-if="isFavoriteResolved">
                        <i class="fa fa-heart fa-2x" ng-if="isFavorite" ng-click="toggleFavorite(false)"></i>
                        <i class="fa fa-heart-o fa-2x" ng-if="!isFavorite" ng-click="toggleFavorite(true)"></i>
                    </div>
                </div>

                <button type="button" class="btn btn-link" ui-sref="owm.resource.search.list">
                    <i class="fa fa-arrow-left"></i> {{ 'RESOURCE_BACK_TO_LIST' | translate }}
                </button>

                <button ng-if="me && (resource.owner.id === me.id || resource.contactPerson.id === me.id)" ui-sref="owm.resource.edit({ resourceId: resource.id })" type="button" class="btn btn-link">
                    <i class="fa fa-cog"></i> {{ 'EDIT_RESOURCE' | translate }}
                </button>
            </div>

            <div ng-if="resource.isActive && features.social && me && (resource.owner.id === me.id || resource.contactPerson.id === me.id)" class="card card-notice">
                <div class="card-body">
                    {{ 'SOCIAL_SHARE_RESOURCE' | translateOrDefault }}
                    <br/>
                    <div share-buttons url="shareUrl" resource="resource"></div>
                </div>
            </div>

            <!-- header -->
            <div flex>
                <md-card ng-class="{'ow-card': !isWindowSizeSM}">
                    <md-card-header class="blue-header" ng-if="isWindowSizeSM">
                        <md-card-header-text>
                            <h1 class="resource-md-title">Huur {{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} in {{ resource.city | toTitleCase }}</h1>
                        </md-card-header-text>
                    </md-card-header>
                    <div ng-class="{'card-responsive': isWindowSizeSM}">
                        <div class="md-card-image">
                            <div class="media-object img-width50p pull-left md-card-image" resource-carousel="resource"></div>
                        </div>
                        <div class="md-card-padding">
                            <md-card-title ng-if="!isWindowSizeSM">
                                <md-card-title-text layout="colum" layout-wrap>
                                    <h1 class="no-margin" style="font-size: 2rem;" flex="100">{{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} in {{ resource.city | toTitleCase }}</h1>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-body class="ow-list-compact">
                                <div class="card-body-margin">
                                    <h3 style="margin-bottom: 5px;">{{ (resource.brand | toTitleCase) || ('UNKNOWN_BRAND' | translate) }}
                                      <span ng-if="resource.model"> {{ resource.model }}</span>
                                      <div ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0" class="tag tag-warning" style="margin-bottom: 8px" id="smartwheels-tip-label"> {{ 'SMART_WHEELS_TIP' | translate }}
                                        <md-tooltip md-direction="bottom" class="multiline">
                                        {{ 'SMART_WHEELS_INFO' | translate }}
                                        </md-tooltip>
                                      </div>
                                      <span class="tag tag-success" ng-if="resource.isNew" flex="none"> {{ 'NEW_TIP' | translate }} </span>
                                    </h3>
                                    <div ng-include="'resource/partials/resource-features.tpl.html'"></div>
                                </div>
                            </md-card-body>
                        </div>
                    </div>
                </md-card>
            </div>

            <!-- board computer -->
            <div class="card" ng-if="me && resource.locktypes.indexOf('smartphone') >= 0 && (resource.owner.id === me.id || resource.contactPerson.id === me.id)">
                <div class="card-body">
                    <div class="text-center">
                        <ul class="list-inline">
                            <li>
                                <button ng-click="openDoor(resource)" class="btn btn-lg btn-default btn-success"><i class="fa fa-unlock fa-fw fa-lg"></i></button>
                            </li>
                            <li>
                                <button ng-click="closeDoor(resource)" class="btn btn-lg btn-default btn-danger"><i class="fa fa-lock fa-fw fa-lg"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- resource sidebar smaller screens (not in sidebar) -->
            <div class="card" ng-if="!features.resourceSidebar || !isWindowSizeMD">
                <div class="card-body">
                    <!-- price -->
                    <div ng-include="'resource/partials/resource-price.tpl.html'"></div>

                    <!-- booking form -->
                    <div class="text-center" ng-if="showBookingFormToggle">
                        <p>
                            <button ng-if="!me" class="btn btn-success" ng-click="toggleBookingForm()" hide-xs>
                                {{ 'CREATE_BOOKING' | translate }}
                            </button>
                            <button ng-if="me" class="btn btn-success" ng-click="toggleBookingForm()" hide-xs>
                                {{ 'CREATE_BOOKING' | translate }}
                            </button>
                            <a class="btn btn-link" ui-sref="owm.resource.calendar({city: resource.city, resourceId: resource.id})">
                                <i class="fa fa-calendar"></i> {{ 'CALENDAR_BUTTON' | translate }}
                            </a>
                        </p>
                    </div>
                    <div id="createBookingContainer" uib-collapse="!showBookingForm">
                        <reservation-form person="me" resource="resource" booking="booking" show-price="false"></reservation-form>
                    </div>
                    <!--/ booking form -->

                    <div class="text-center">
                        <p>
                            <a class="btn btn-link btn-sm" ng-show="showBookingForm" ng-click="toggleBookingForm()">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <!-- owner -->
            <div class="card">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'OWNER' | translate }}</h3>
                    <div class="media">
                        <img class="media-object pull-left img-user-small" person-profile-image="{ person: resource.owner, size: 'small' }" />
                        <div class="media-body">
                            <h4 class="media-heading"><a ui-sref="member({ personId: resource.owner.id })">{{ resource.owner | fullname }}</a></h4>
                            <div ng-if="resource.owner.created" class="text-muted">
                                <small>{{ resource.owner.created | memberSince }}</small>
                            </div>
                            <div><span badge-list="resource.owner.badges"></span></div>

                            <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.owner)">
                                <i class="fa fa-comment fa-fw"></i> {{ 'SEND_MESSAGE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div ng-if="resource.advertisement">
                        <h5>{{ 'ABOUT_CAR' | translate}}</h5>
                        <p style="white-space:pre-line">{{ resource.advertisement }}</p>
                    </div>
                    <div ng-if="resource.owner.about">
                        <h5>{{ 'ABOUT_ME' | translate }}</h5>
                        <p style="white-space:pre-line">{{ resource.owner.about}}</p>
                    </div>
                </div>
            </div>

            <!-- smartwheels benefits -->
            <div class="card" ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0" id="smartwheels_info">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'SMARTWHEELS_TITLE' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div layout="row" layout-xs="column">
                        <div flex="50" flex-xs="100">
                            <md-list style="padding: 0px;">
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') >= 0 && resource.locktypes.indexOf('smartphone') < 0">
                                <md-icon class="text-success list-margin">vpn_key</md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-ik-een-auto-met-mijn-chipkaart/">chipkaart</a></span>
                              </md-list-item>
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') < 0 && resource.locktypes.indexOf('smartphone') >= 0">
                                <md-icon class="text-success list-margin">vpn_key</md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-auto-smartphone/">smartphone</a></span>
                              </md-list-item>
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') >= 0 && resource.locktypes.indexOf('smartphone') >= 0">
                                <md-icon class="text-success list-margin">vpn_key</md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-auto-smartphone/">smartphone</a> & <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-ik-een-auto-met-mijn-chipkaart/">chipkaart</a></span>
                              </md-list-item>
                              <md-list-item>
                                <md-icon class="text-success list-margin">date_range</md-icon>
                                <span>24 uur per dag te huur</span>
                              </md-list-item>
                              <md-list-item>
                                <md-icon class="text-success list-margin">check</md-icon>
                                <span>Geen sleuteloverdracht nodig</span>
                              </md-list-item>
                            </md-list>
                        </div>
                        <div flex="50" flex-xs="100">
                            <md-list style="padding: 0px;">
                              <md-list-item>
                                <md-icon class="text-success list-margin">access_time</md-icon>
                                <span>Direct geaccepteerd</span>
                              </md-list-item>
                              <md-list-item>
                                <md-icon class="text-success list-margin">local_parking</md-icon>
                                <span>Vaste parkeerplek</span>
                              </md-list-item>
                              <md-list-item>
                                <md-icon class="text-success list-margin">mode_edit</md-icon>
                                <span>Automatische kilometerregistratie</span>
                              </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </div>
            </div>

            <!-- contact person -->
            <div class="card" ng-if="me && resource.contactPerson && (resource.contactPerson.id !== resource.owner.id)">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'CONTACT_PERSON' | translate }}</h3>
                    <div class="media">
                        <img class="media-object pull-left img-user-small" person-profile-image="{ person: resource.contactPerson, size: 'small' }" />
                        <div class="media-body">
                            <h4 class="media-heading"><a ui-sref="member({ personId: resource.contactPerson.id })">{{ resource.contactPerson | fullname }}</a></h4>
                            <div ng-if="resource.contactPerson.created" class="text-muted">
                                <small>{{ resource.contactPerson.created | memberSince }}</small>
                            </div>
                            <div><span badge-list="resource.contactPerson.badges"></span></div>

                            <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.contactPerson)">
                                <i class="fa fa-comment fa-fw"></i> {{ 'SEND_MESSAGE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div ng-if="resource.contactPerson.about">
                        <h5>{{ 'ABOUT_ME' | translate }}</h5>
                        <p>{{ resource.contactPerson.about}}</p>
                    </div>
                </div>
            </div>

            <!-- ratings -->
            <div class="card" ng-if="features.ratings">
                <div class="card-heading">
                    <h3 class="card-title">
                  <span ng-bind="'RATINGS' | translate"></span>
                  &nbsp;<span ng-if="resource.ratings.length >= 1">({{ resource.ratings.length }})</span>
                </h3>
                </div>
                <div class="card-body">
                    <div ng-include="'resource/partials/resource-rating-summary.tpl.html'"></div>
                    <div ng-if="resource.ratings.length">
                        <br/>
                        <div ng-include="'resource/partials/resource-rating-reviews.tpl.html'"></div>
                    </div>
                </div>
            </div>

            <!-- location -->
            <div class="card">
                <div class="card-heading">
                    <h3 class="card-title">{{ resource.location }} <small>{{ resource.city }}</small></h3>
                </div>
                <ui-gmap-google-map class="google-map" center="map.center" zoom="map.zoom" draggable="false" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options">
                    <!-- prefedined markers -->
                    <!-- rendering via ng-repear, HIGH OVERHEAD via DOM Manipulation -->
                    <ui-gmap-marker idKey="$index" ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
                        <ui-gmap-window show="m.showWindow" closeClick="m.closeClick()">
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>

                <div class="card-body">
                    {{ 'RESOURCE_MORE_IN_CITY' | translate }} <a ui-sref="owm.resource.place.list({ city: resource.city })">{{ resource.city }}</a>
                </div>
            </div>

        </div>
        <!-- /col -->

        <!-- resource sidebar -->
        <div ng-if="features.resourceSidebar && isWindowSizeMD" class="col-md-4 hidden-xs hidden-sm">
            <div class="card">
                <div class="card-heading">
                    <h3 class="card-title"><i class="fa fa-fw fa-pencil"></i> {{ 'BOOK_A_CAR' | translate }}</h3>
                </div>
                <div class="card-body">
                    <reservation-form person="me" resource="resource" booking="booking" show-price="true"></reservation-form>
                </div>
            </div>
        </div>

    </div>
    <!-- /row -->
</div>

<md-toolbar class="md-hue-2 fixed-call-to-action" ng-if="resource.removed === false" hide-gt-xs>
    <div class="md-toolbar-tools">
        <md-button class="md-raised md-primary" ng-click="checkAvailabilityDialog()" ng-if="!openDialogSpinner" ga-track-event="['booking', 'created_pre', user.isAuthenticated, null, true]">{{ 'BOOK_A_CAR' | translate }}</md-button>
        <md-button class="md-raised md-primary" ng-if="openDialogSpinner"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i></md-button>
    </div>
    <div class="satisfaction" ng-if="resource.rating_totals.senders > 0">{{ satisfaction }} {{ 'SATISFACTION_RENTERS' | translate }}</div>
    <div class="satisfaction" ng-if="resource.rating_totals.senders === 0">{{ resource.price.dayRateTotal | currency }} per dag <span ng-if="resource.price.kmFree">en 100 km gratis</span></div>
</md-toolbar>

<div class="col-md-8 col-md-offset-2">
  <md-card ng-if="resource.removed === true">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Deze auto is helaas niet meer beschikbaar</span>
        <span class="md-subhead">Vind een andere auto bij jou in de buurt die wel beschikbaar is.</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <section>
        <ow-geocoder-searchbar></ow-geocoder-searchbar>
      </section>
    </md-card-content>
  </md-card>
</div>
